---
- name: Install zsh in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - zsh
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Change user shell to zsh
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
  when: ansible_distribution == "Ubuntu"

